.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  /* `cover` looks better here than `contain` */
  background-position: center;
  margin: 0 29px 0 0;
  /* The design has some flaws, I can't say for certain how to calculate this margin. Don't be too strict with students here until the design is updated. */
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
